body{
  text-align: center;


}

#background {
  background-image: url("../image/background3.png");
  height: 700px;
  width: 1000px;
  position: relative;
  margin: 0 auto;
}

#fighter {
  background-image: url("../image/spaceship.gif");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}
#boss {
  background-image: url("../image/boss.gif");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}


#missile {
  position: absolute;
}

.missile {
  width: 30px;
  height: 25px;
  position: absolute;
  background-image: url("../image/missile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#enemies {
  height: 700px;
  width: 1000px;
  position: absolute;
}

.enemy {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url("../image/enemy.gif_c200");
  background-size: contain;
  position: absolute;
}
